<p id="notice"><%= notice %></p>

<p>
  <strong>Priority:</strong>
  <%= @weird_enterprise_stuff.priority %>
</p>

<%= link_to 'Edit', edit_weird_enterprise_stuff_path(@weird_enterprise_stuff) %> |
<%= link_to 'Back', weird_enterprise_stuffs_path %>
